<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Casper</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Casper">
        <meta name="author" content="Maverick Chan">
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" media="screen"/>
    </head>

    <body class="front-body">
    
    {% include "header.html" %}
	    
    {% include "footer.html" %}

	    <script src="/static/js/jquery.min.js"></script>
	    <script src="/static/js/bootstrap.min.js"></script>

    </body>

</html>

