    <!-- Bottom navbar -->
        <nav class="nav navbar-default navbar-fixed-bottom footer">
            <div class="col-md-8 col-md-offset-2">
                <ul class="nav navbar-nav signature-footer">
                    <li class="navbar-text">
                        <span class="glyphicon glyphicon-chevron-left signature-text"></span>
                        <span class="glyphicon glyphicon-chevron-right signature-text"></span>
                        <small class="signature-text"> with </small> 
                        <span class="glyphicon glyphicon-heart signature-text"></span>
                        <small class="signature-text"> by Maverick 2014.</small>
                    </li>
                </ul>
                <ul class="nav navbar-right">
                    <li class="navbar-text">
                        <iframe src="http://ghbtns.com/github-btn.html?user=maverick97-dj&repo=gae-pjax&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
                    </li>

                    <li class="navbar-text">
                        <iframe src="http://ghbtns.com/github-btn.html?user=maverick97-dj&repo=gae-pjax&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
                    </li>
                    
                    <li class="navbar-text">
                        <a href="https://twitter.com/gae-pjax" class="twitter-follow-button" data-show-count="true">Follow @gae-pjax</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </li>
                </ul>
            </div>
        </nav>


