<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Casper</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Casper">
        <meta name="author" content="Maverick Chan">
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" media="screen"/>
        <link rel="stylesheet" type="text/css" href="/static/css/cal-heatmap.css" media="screen"/>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" media="screen"/>
    </head>

    <body class="dashboard-body">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="col-md-8 col-md-offset-2">
                <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapser">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/"><img class="casper-logo" src="/static/images/logo-light.png"></a>
                    </div>

                    <!-- Collects links to be in the collapsed navbar -->
                    <div class="collapse navbar-collapse" id="navbar-collapser">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#"><abbr title="Home"><span class="glyphicon glyphicon-home"></span></abbr></a></li>
                        </ul>
                    </div> <!-- navbar-collapse -->
                </div> <!-- col-md col-xs -->
            </div> <!-- container-fluid -->
        </nav> 

        <!-- Main front page content -->
        <div class="container-fluid">
            <div class="row">
                <!-- Calendar Heatmap -->
                <div class="col-md-6 col-md-offset-2">
                    <h1>Happiness Chart</h1>
                    <hr/>
                    <button class="btn btn-default btn-xs pull-left" id="cal-heatmap-prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </button>
                    <button class="btn btn-default btn-xs pull-right" id="cal-heatmap-next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                    <div id="cal-heatmap"></div>
                </div>
                <div class="col-md-2 dashboard-nav">
                    <ul class="nav nav-pills nav-stacked">
                        <li id="pill-pressing"><a href="/dashboard/pressing">Pressing Issues</a></li>
                        <li id="pill-happiness"><a href="/dashboard/happiness">Happiness Chart</a></li>
                        <li id="pill-issues"><a href="/dashboard/issues">Issues Graph</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Bottom navbar -->
        <nav class="nav navbar-default navbar-static-bottom footer">
            <div class="col-md-8 col-md-offset-2">
                <ul class="nav navbar-nav">
                    <li class="navbar-text ">
                        <span class="glyphicon glyphicon-chevron-left signature-text text-center"></span>
                        <span class="glyphicon glyphicon-chevron-right signature-text text-center"></span>
                        <small class="signature-text"> with </small> 
                        <span class="glyphicon glyphicon-heart signature-text"></span>
                        <small class="signature-text"> by Casper 2014.</small>
                    </li>
                </ul>
                <ul class="nav navbar-right">
                    <li class="navbar-text">
                        <iframe src="http://ghbtns.com/github-btn.html?user=maverick97&repo=casper&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
                    </li>
        
                    <li class="navbar-text">
                        <iframe src="http://ghbtns.com/github-btn.html?user=maverick97&repo=casper&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
                    </li>
                    
                    <li class="navbar-text">
                        <a href="https://twitter.com/casper" class="twitter-follow-button" data-show-count="true">Follow @casper</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </li>
                </ul>
            </div>
        </nav>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
        <script type="text/javascript" src="/static/js/cal-heatmap.min.js"></script>
        <script src="/static/js/calmap.js"></script>
    </body>

</html>
